@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,600,700,800);
body {
    margin: 0;
    color: #666;
    background-color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}
.container {
    width: auto;
    max-width: 1170px;
    margin: 0;
    margin-left: 370px;
}
img.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 2px #efefef;
  margin: 10px 0;
  overflow: hidden;
  padding: 10px;
}
.row {
    width: 100%;
}
.bs-docs-sidenav a {
    color: #444;
}
.bs-docs-sidenav {
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    min-width: 299px;
    margin: 0 0;
    padding: 0;
    padding-top: 0;
    border-right: 1px solid #ddd7cc;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #f2f2f2;
}
.bs-docs-sidenav.affix {
    top: 0;
}
.bs-docs-sidenav>li:first-child>a,
.bs-docs-sidenav>li:last-child>a {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.bs-docs-sidenav>li>a {
    display: block;
    margin: 0 0 -1px;
    padding: 6px 14px;
    padding-left: 20px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: 600;
}
.bs-docs-sidenav li li a {
    font-size: 14px;
}
.nav-list>.active>a,
.nav-list>.active>a:hover,
.nav-list>.active>a:focus {
    color: #fff;
    background-color: #337ab7;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-list ul {
    margin: 0 0 0 30px;
    padding: 0 10px;
    list-style: none;
}
.nav-list ul ul {
  margin: 0 8px;
}
.nav-list ul li {
    padding: 3px 0;
    list-style-type: square;
}
.nav-list ul ul li {
  list-style-type: initial;
}
.nav-list ul li:first-child {
    padding-top: 10px;
}
.nav-list ul li:last-child {
    padding-bottom: 10px;
}
.nav-list li.panel {
    position: relative;
    margin-bottom: 0;
    border: 0;
    background-color: inherit;
	box-shadow:none;
}
.nav-list li.panel a[aria-expanded="true"] i::before {
    content: "\f077";
}
.nav-list li.panel i {
    position: absolute;
    top: 13px;
    right: 14px;
    font-size: 13px;
}
.nav-list li.intro {
  padding: 20px;
  text-align: center;
}
.nav-list li.intro h3 {
    margin-top: 10px;
    font-weight: 600;
}
h1 {
    font-weight: 600;
	font-size:28px;
}
h2 {
    font-size: 24px;
}h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h1,
h2,
h3,
h4 {
    font-weight: 600;
    line-height: 30px;
}
.page-header {
  border-bottom: 0 none;
  margin: 0;
}
section {
  border-bottom: 2px dashed #ccc;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}
section:last-child {
    border-bottom: 0;
}
section li {
    padding: 2px;
}
.label {
    margin-right: 5px;
}
p {
    margin-bottom: 20px;
}
ul,
ol {
    margin-bottom: 20px;
}
img {
    max-width: 100%;
}
.doc-img {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
}
.small-doc-img {
    width: 830px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}
.small-doc-img img {
    max-width: 100%;
}
.head-bold {
    font-weight: 700;
}
.footer {
    margin-top: 70px;
    padding: 30px 0;
	font-size:14px;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    text-align: center;
}
.footer-links {
    margin: 10px 0;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links li:first-child {
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
ul p {
    margin-bottom: 10px;
}
.nav-list ul li.active > a {
    font-weight: bold;
}
section .sub_header {
  padding: 30px 0 0;
}
.page-header > h3 {
  border-bottom: 1px solid #eee;
  padding: 0 0 10px;
}
.faq_list {
  counter-reset: my-faq-counter;
  list-style: outside none none;
}
.faq_list > li::before {
  background: #f2f2f2 none repeat scroll 0 0;
  border-radius: 50%;
  color: #56782c;
  content: counter(my-faq-counter, decimal);
  counter-increment: my-faq-counter;
  font-size: 15px;
  font-weight: bold;
  height: 28px;
  margin-left: -38px;
  margin-top: 12px;
  padding: 2px 9px;
  position: absolute;
  width: 28px;
}
.faq_list > li > h4{margin-bottom:0;}
section#welcome {
  margin: 30px 0 0;
  padding-bottom: 30px;
}