/*** WARNING: Do not change this file. Your changes will be lost.
 **/
.wtslider-wrapper {position: relative;}
.wtslider .animated {animation-duration: .5s;}
.wtslider > * {opacity: 0;visibility: hidden;transition: opacity 1s ease;}
.wtslider.slick-initialized > * {opacity: 1;visibility: visible;}
.wtslider-link, .wtslider-link:hover, .wtslider-link:focus, .wtslider-link:active {color: inherit !important;}
.wtslider.wtslider--fullscreen, .wtslider--fullscreen .slick-slide {  max-height: 100vh;  min-height: 100vh;  min-width: 100vw;  max-width: 100vw;  background-size: cover;  background-repeat: no-repeat;}
.wtslider:hover .slick-prev, .wtslider:hover .slick-next {opacity: 1;}
.video-is-playing .slick-dots {display: none !important;}
.wtslider-pause:focus {clip: auto;width: auto;height: auto;margin: 0;color: #fff;background-color: #7796a8;padding: 27.5px;z-index: 10000;transition: none;}
.video-is-playing .wtslider-pause:focus {display: none;}
.wtslider-pause-stop {display: block;}
.is-paused .wtslider-pause-stop {display: none;}
.wtslider-pause-play {display: none;}
.is-paused .wtslider-pause-play {display: block;}
.wtslider-slide {position: relative;overflow: hidden;}
.wtslider-image-mobile {display: none;}
@media screen and (max-width: 481px) {.wtslider-image-mobile {  display: block;}
.wtslider-image-mobile + .wtslider-image {  display: none;}
}
.wtslider-image, .wtslider-image-mobile {
display:block;}
.wtslider-image.bg-left, .wtslider-image-mobile.bg-left {background-position: center left;}
.wtslider-image.bg-right, .wtslider-image-mobile.bg-right {background-position: center right;}
.wtslider-image.bg-bottom, .wtslider-image-mobile.bg-bottom {background-position: bottom center;}
.wtslider-image.bg-top, .wtslider-image-mobile.bg-top {background-position: top center;}
.wtslider-image.bg-bottom.bg-left, .wtslider-image-mobile.bg-bottom.bg-left {background-position: bottom left;}
.wtslider-image.bg-bottom.bg-right, .wtslider-image-mobile.bg-bottom.bg-right {background-position: bottom right;}
.wtslider-image.bg-top.bg-left, .wtslider-image-mobile.bg-top.bg-left {background-position: top left;}
.wtslider-image.bg-top.bg-right, .wtslider-image-mobile.bg-top.bg-right {background-position: top right;}
.wtslider.slick-initialized .wtslider-image,
.wtslider.slick-initialized .wtslider-image-mobile,
.no-js .wtslider-image {opacity: 1;}
.wtslider-slide--background-video .wtslider-image {opacity: 0;}
.no-autoplay .wtslider-image {opacity: 1;}
.wtslider .wtslider-image {  width: 100%;  height: auto;  background-size: cover;  background-repeat: no-repeat;}
.ie9 .wtslider-slide {z-index: 1 !important;}
.ie9 .slick-dots {z-index: 2;}
.wtslider-text-wrap {height: 100%;width:100%;touch-action: pan-y;-ms-touch-action: pan-y;}
.wtslider-link .wtslider-text-wrap {cursor: inherit;}
.wtslider-link, .wtslider-link:hover {text-decoration: none;}
.wtslider-slide--has-background-video .wtslider-text-wrap {padding-top: 165px;}
.video-is-playing .wtslider-text-wrap {display: none;}
.wtslider-slide.video-is-paused .wtslider-text-wrap {display: none;}
.wtslider .slick-active .wtslider-text-content,
.no-js .wtslider-text-content {opacity: 1;}
.wtslider-slide--has-background-video::after {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;}
.wtslider-video {display: none;position: absolute;left: 0;top: 0;z-index: 2;}
.wtslider-video--background {position: relative;visibility: hidden;opacity: 0;transition: all 0.2s ease-in;height: 100%;}
.autoplay .wtslider-video--background.video-is-loaded {display: block;visibility: visible;opacity: 1;}
.wtslider-slide--background-video::after {content: '';display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;}
.wtslider-video--box {display: none;opacity: 0;visibility: hidden;width: 100%;height: 100%;transition: all 0.2s ease-in;}
.ie9 .wtslider-video--box {display: block;}
.wtslider-slide.video-is-playing .wtslider-video--box,
.wtslider-slide.video-is-paused .wtslider-video--box {display: block;visibility: visible;opacity: 1;}
.wtslider-video-control {display: none;visibility: hidden;opacity: 0;position: absolute;padding: 5px;z-index: 4;transition: all 0.1s ease-out;}
.wtslider-video-control:hover,
.wtslider-video-control:focus {opacity: 0.7;}
.video-loader {content: '';display: block;width: 40px;height: 40px;position: absolute;margin-left: -20px;margin-top: -20px;z-index: 4;color: #fff;bottom: 100px;right: 35px;font-size: 30px;line-height: 40px;text-align: center;}
.video-is-loaded .video-loader,
.video-is-playing .video-loader,
.video-is-paused .video-loader,
.autoplay .video-loader,
.no-autoplay .video-loader {content: none;display: none;}
.video-is-loading .video-loader,
.autoplay .video-is-loading .video-loader,
.no-autoplay .video-is-loading .video-loader {display: block;visibility: visible;opacity: 1;}
.wtslider-video-control--play .wtslider-video--background {top: 50%;transform: translateY(-50%);}
.wtslider-video-control--close,
.wtslider-video-control--play {bottom: 80px;right: 15px;}
@media only screen and (max-width: 991px) {.wtslider-video-control--close,  .wtslider-video-control--play {  bottom: 50px;}}
@media only screen and (max-width: 767px) {.wtslider-video-control--close,  .wtslider-video-control--play {  bottom: 40px;}}
.video-is-loaded .wtslider-video-control--play,
.video-is-playing .wtslider-video-control--close,
.wtslider-slide.video-is-paused .wtslider-video-control--close {display: block;visibility: visible;opacity: 1;border: 0;background: transparent;width: 80px;height: 80px;}
.video-is-loading .wtslider-video-control--play,
.video-is-playing .wtslider-video-control--play,
.wtslider-slide.video-is-paused .wtslider-video-control--play {display: none;visibility: hidden;opacity: 0;}
.wtslider-video-control--close .icon {display: block;width: 20px;height: 20px;}
.wtslider-text-content .wtslider-text-content-flex {padding: 15px 15px 30px;display: -ms-flexbox;display: flex;-ms-flex-align: center;-moz-align-items: center;align-items: center;-ms-flex-pack: center;-moz-justify-content: center;justify-content: center;text-align: center;-ms-flex-direction: column;flex-direction: column;height: 100%;}
@media screen and (max-width: 481px) {.wtslider-text-content .wtslider-text-content-flex {  padding: 5px 0 5px;}}
.wtslider-text-content.txt-left .wtslider-text-content-flex {-ms-flex-align: start;-moz-align-items: flex-start;align-items: flex-start;text-align: left;}
.wtslider-text-content.txt-left .wtslider-text-content-flex .wtslider-text2-1,.wtslider-text-content.txt-left .wtslider-text-content-flex .wtslider-text2-2,.wtslider-text-content.txt-left .wtslider-text-content-flex .wtslider-text2-3 {float: left;}
.wtslider-text-content.txt-right .wtslider-text-content-flex {-ms-flex-align: end;-moz-align-items: flex-end;align-items: flex-end;text-align: right;}
.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text2-1,.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text2-2,.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text2-3 {float: right;}
.wtslider-text-content.txt-top .wtslider-text-content-flex {-ms-flex-pack: start;-moz-justify-content: flex-start;justify-content: flex-start;}
.wtslider-text-content.txt-bottom .wtslider-text-content-flex {-ms-flex-pack: end;-moz-justify-content: flex-end;justify-content: flex-end;}
@media screen and (max-width: 1599px) {.wtslider-text-content .wtslider-text-content-flex {  font-size: 1vw;}}
@media screen and (max-width: 481px) {.wtslider-text-content .wtslider-text-content-flex {  font-size: 1vw;}}
@media screen and (max-width: 400px) {.wtslider-text-content .wtslider-text-content-flex {  font-size: 1.2vw;}}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text {line-height: 1em;margin-top: 1em;-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;cursor: default;}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text:first-child {margin-top: 0;}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text--lg {font-size: 1em;font-weight: 700;margin-top: .25em;font-family: "Montserrat", sans-serif;}
@media screen and (max-width: 481px) {.wtslider-text-content .wtslider-text-content-flex .wtslider-text--lg {  font-size: .8em;}}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text--md {font-size: .74em;line-height: 1.2em;margin-top: 0.5em;font-weight: 600;font-family: "Montserrat", sans-serif;}
@media screen and (max-width: 481px) {.wtslider-text-content .wtslider-text-content-flex .wtslider-text--md {  font-size: .6em;}}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text--sm {font-size: .48em;line-height: 1.2em;margin-top: 0.5em;font-weight: 700;letter-spacing: .05em;font-family: "Montserrat", sans-serif;}
@media screen and (max-width: 481px) {.wtslider-text-content .wtslider-text-content-flex .wtslider-text--sm {  font-size: .4em;}}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text--xs {font-size: .24em;line-height: 1.2em;font-weight: 700;margin-top: 1em;letter-spacing: .05em;font-family: "Montserrat", sans-serif;}
@media screen and (max-width: 481px) {.wtslider-text-content .wtslider-text-content-flex .wtslider-text--xs {  font-size: .3em;}}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text--xxs {font-size: .18em;font-weight: 500;margin-top: 1em;letter-spacing: .05em;font-family: "Montserrat", sans-serif;}
@media screen and (max-width: 481px) {.wtslider-text-content .wtslider-text-content-flex .wtslider-text--xxs {  font-size: .26em;  font-weight: 500 !important;}}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text.text-left {-ms-flex-item-align: start;align-self: flex-start;}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text.text-right {-ms-flex-item-align: end;align-self: flex-end;}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text.text-right.wtslider-text--sm {margin-right: -0.3em;}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text.text-right.wtslider-text--lg {margin-right: -0.15em;}
.wtslider-text-content .wtslider-text-content-flex .wtslider-text.text-center {-ms-flex-item-align: center;-ms-grid-row-align: center;align-self: center;}
.wtslider-text-content .wtslider-text-content-flex .btn-slider.text-left {margin-right: auto;margin-left: 0;}
.wtslider-text-content .wtslider-text-content-flex .btn-slider.text-right {margin-left: auto;margin-right: 0;}
.wtslider-text-content .wtslider-text-content-flex .btn-slider.text-center {margin-left: auto;margin-right: auto;}
.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor {margin-top: 0;padding: .55em 0 .417em;font-size: 24px;font-weight: 700;color: #fff;font-family: "Montserrat", sans-serif;letter-spacing: 2.5px;}
.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor span.btn-line {bottom: -.2em;height: 3px;background-color: #fff;}
@media screen and (max-width: 1199px) {.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor {  font-size: 20px;  letter-spacing: 1.5px;}
.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor span.btn-line {  height: 3px;}
}
@media screen and (max-width: 991px) {.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor {  font-size: 16px;}
.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor span.btn-line {  height: 2px;}
}
@media screen and (max-width: 481px) {.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor {  font-size: 16px;}
.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor span.btn-line {  bottom: -.1em;  height: 2px;}
}
.wtslider-text-content .wtslider-text-content-flex .btn-wrap > .btn-decor:after {display: none;}
@media screen and (min-width: 768px) {.wtslider-text-content .wtslider-text-content-flex .aside .btn-wrap > .btn-decor {  font-size: .18em;  padding-bottom: .35em;}
}
@media screen and (max-width: 481px) {.wtslider-text-content.txt-left .wtslider-text-content-flex .wtslider-vert.border-half,.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-vert.border-half {  width: 75%;  padding-left: 0;  padding-right: 0;}
.wtslider-text-content.txt-left .wtslider-text-content-flex .wtslider-vert.border-half:after,.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-vert.border-half:after {  left: 15%;  right: 15%;}
}
.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text--num-wrap {-ms-flex-direction: row-reverse;flex-direction: row-reverse;margin-left: .5em;}
.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text--num-wrap .wtslider-text--num-text {margin-left: 0;margin-right: 40px;padding-right: 28px;border-right-width: 1px;border-right-style: solid;border-color: #868686;border-left: 0;}
.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text--num-wrap .wtslider-text--num-text:not(:first-child) {margin-left: 30px;}
@media screen and (max-width: 767px) {
.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text--num-wrap .wtslider-text--num-text {  padding-right: 28px;}
.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text--num-wrap .wtslider-text--num-text:not(:first-child) {  margin-left: 20px;}
}
@media screen and (max-width: 481px) {.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text--num-wrap .wtslider-text--num-text {  padding-right: 15px;}
.wtslider-text-content.txt-right .wtslider-text-content-flex .wtslider-text--num-wrap .wtslider-text--num-text:not(:first-child) {  margin-left: 10px;}
}
.wtslider .slick-dots li:not(.slick-active) button {background-color: #fff;}
.wtslider--toright > div {float: right;position: relative;min-width: 190px;}
.wtslider--toleft > div {float: left;position: relative;min-width: 190px;}
.wtslider .slick-arrow {  top: 0;  width: auto;  color: #fff;  text-transform: uppercase;font-family:neoncart;opacity:0.2;}
@media screen and (max-width: 481px) {.wtslider .slick-arrow {  font-size: 0.8em;  line-height: 21px;}}
.wtslider .slick-arrow:hover, .wtslider .slick-arrow:hover:not(.slick-disabled), .wtslider .slick-arrow:focus {opacity: 1;color: #000;}
.wtslider .slick-arrow:before {position: absolute;top: 0;color: #000;opacity: 1;font-size: 30px;font-weight: 700;transition: color .2s linear;line-height: 1;background: 0 0;}
.wtslider .slick-prev:before {  left: 0;  content: "\e90d";}
.wtslider .slick-next:before {right: 0;content: "\e90e";}
@media screen and (max-width: 767px) {.wtslider--fullheight ~ .wtslider {  bottom: 55px;}}
.wtslider.arrows-on .slide-caption {bottom: 20%;}
@media screen and (max-width: 991px) {.wtslider-wrapper .slick-dots {  bottom: 10px;}}
@media screen and (max-width: 481px) {.wtslider-wrapper .slick-dots {  bottom: 0;}}
.wtslider-wrapper .slick-dots li:not(.slick-active) button {  margin: 6px auto;  background-color: #dadada;}
.wtslider-wrapper .slick-dots li.slick-active button {margin: 6px auto;}
.wtslider-loader {position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 1;pointer-events: none;display: -ms-flexbox;display: flex;transition: 0.75s ease 0.75s;}
.wtslider.slick-initialized + .wtslider-loader {opacity: 0;}
.wtslider .slick-arrow {  position: absolute;  z-index: 1;  display: block;  height: 20px;  width: 20px;  line-height: 0px;  font-size: 0px;  cursor: pointer;  background: transparent;  color: transparent;  top: 50%;  transform: translate(0, -50%);  padding: 0;  border: 0;  outline: none;  transition: 0.2s;}
.wtslider .slick-prev {  left: 15px;}
.wtslider .slick-next {  right: 15px;}